<div class="container">
  <h1 align="center">Hoang's Blog</h1>
  <h3 align="center">My first Rails Application for CoderSchool</h3>
   <%= render 'article', obj: @articles%>
  <br>
  <%= link_to 'New article', new_article_path %>
</div> 